<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #474b57;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li >
                <img src="{{imageSrc}}" alt="{{imageAlt}}" class="image1" height="40px" width="150px" />
              </li>
              <li>
                <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="Search Movies" style="height:40px;width:500px;">
              </li>
            </ul>
            <form class="d-flex">
              <button type="button" class="btn btn-danger btn-sm" id="fas">Sign In</button>
              <i style='font-size:28px;margin-top: 3px;color: aliceblue;cursor:pointer;' class='fas'>&#xf039;</i>
            </form>
          </div>
        </div>
    </nav>
    

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(34,37,57);">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-light" >
                <li class="nav-item" id="listitem">
                    <a class="nav-link active text-light" id="frtfloat" aria-current="page" href="#">Movie</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Stream</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Events</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Plays</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Sports</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Activities</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Buzz</a>
                  </li>


                  <li class="nav-item">
                    <a class="nav-link text-light" id="floatright" aria-current="page" href="#">ListYourShow</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Corporates</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Offers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Gift Cards</a>
                  </li>
            </ul>
          </div>
        </div>
    </nav>
    
    <!-- <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#" (click)="navigateToEmployee('employee')">Employees</a>
      <a href="#" (click)="navigateToStudent('trainers')">Student</a>
      <a href="#">Contact</a>
    </div> -->



</div>


<!-- <img  [src] ="ImagePath1" alt="Second slide"> -->

