<body class="bg-light">
    <app-header></app-header>

    <div class="class">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1657108354117_restaurantweb.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1658122092261_shamsheraweb.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1656753889901_apc_web.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
    </div>

        <div class="row mt-5">
            <div class="col-sm-1  text-red"></div>
          
            <div class="col-sm-2  bg-light text-white">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-danger">Languages</h5>
                        <h6 class="card-title text-dark" style="text-align:right; margin-top:-30px;">Clear</h6>
                        <button type="button" class="btn btn-outline-danger me-1 mb-1">Telugu</button>
                        <button type="button" class="btn btn-outline-danger me-1">English</button>
                        <button type="button" class="btn btn-outline-danger">Hindhi</button>
                        <button type="button" class="btn btn-outline-danger me-1 mb-1">Malayalam</button>
                        <button type="button" class="btn btn-outline-danger me-1">Kanada</button>
                        <button type="button" class="btn btn-outline-danger me-1">Japanese</button>
                        <button type="button" class="btn btn-outline-danger">Tamil</button>
                    
                      
                    </div>
                  </div>
            </div>
          
            <div class="col-sm-1"></div>
          
            <div class="col-sm-7 bg-light text-white">
                <div class="container">
                    <h3 class="heading3 text-dark ms-3">Moives In Hyderabad</h3>
                    <nav class="navbar navbar-expand-lg navbar-light" style="margin-top: 20px;">
                        <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
                            <li >
                                <button type="button" class="btn btn-outline-danger rounded-pill me-3">English</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-outline-danger rounded-pill me-3">Malayalam</button> 
                            </li>
                            <li>
                                <button type="button" class="btn btn-outline-danger rounded-pill me-3">Kanada</button> 
                            </li>
                            <li>
                                <button type="button" class="btn btn-outline-danger rounded-pill me-3">Tamil</button> 
                            </li>
                            <li>
                                <button type="button" class="btn btn-outline-danger rounded-pill">Telugu</button> 
                            </li>
                            </ul>      
                        </div>
                        </div>
                    </nav>
                </div>
                <div class="container">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg" style="margin-top: 20px;background-color: white;">
                            <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li>
                                   <p class="text-dark fw-bold mt-3">Comming Soon...</p>
                                </li>
                                <li>
                                    <p class="text-danger fw-normal mt-3" style="margin-left: 480px;">Explore UpComming Movies</p>
                                </li>
                                </ul>      
                            </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
          
            <div class="col-sm-1"></div>
        </div>
        
            
    <div class="container card-group mt-5 rounded-3">
            <div class="card me-5">
              <img id="img-top" src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@heart_202006300400.png,ox-24,oy-617,ow-29:ote-ODMlICA1ayB2b3Rlcw%3D%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00318311-scsjbtpubq-portrait.jpg" class="card-img-top rounded" alt="...">
              <div class="card-body border-0" id="cardheight">
                 <h5 class="card-link">Thank You</h5>
                <h5 class="card-link">Drama/Romatic</h5>
              </div>
            </div>
            <div class="card me-5 border-start rounded-3">
              <img id="img-top" src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@heart_202006300400.png,ox-24,oy-617,ow-29:ote-NzElICAxNGsgdm90ZXM%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00075253-ccyjknqens-portrait.jpg" class="card-img-top rounded" alt="...">
              <div class="card-body border-start" style="margin-top:-20px;" id="cardheight">
                <h5 class="card-link">Shamshera</h5>
                <h5 class="card-link">Action,Drama,Period</h5>
              </div>
            </div>
            <div class="card me-5 border rounded-3">
              <img id="img-top" src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@heart_202006300400.png,ox-24,oy-617,ow-29:ote-NzAlICAyNGsgdm90ZXM%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00321464-htjfsnqugk-portrait.jpg" class="card-img-top rounded" alt="...">
              <div class="card-body" style="margin-top:-20px;" id="cardheight">
                <h5 class="card-link">Thw Warrior</h5>
                <h5 class="card-link">Action/Fantacy</h5>
              </div>
            </div>
            <div class="card border rounded-3">
                <img id="img-top" src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:oi-discovery-catalog@@icons@@like_202006280402.png,ox-24,oy-617,ow-29:ote-NWsgbGlrZXM%3D,ots-29,otc-FFFFFF,oy-612,ox-70:q-80/et00331380-xwxbuajpra-portrait.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body" style="margin-top:-20px;" id="cardheight">
                    <h5 class="card-link">Darja</h5>
                    <h5 class="card-link">Action/Fantacy</h5>
                  </div>
            </div>
    </div>

    
    <nav class="navbar navbar-expand-lg navbar-danger bg-danger">
        <div class="container">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
        
</body>


<router-outlet></router-outlet>
